@CHARSET "UTF-8";
.content {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	
}

	body {
		font-size: 13.5pt;
		font-family: sans-serif;
		background-color: #f0efef;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #878e83;
		
	}
	h2 {
		color: #007897;
		font-weight: normal;
	}